
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');
:root{
  --bg1:#3b0070;
  --bg2:#0e79ff;
  --silver:#c7d2fe;
}
html,body,#__next{ height:100%; }
body{
  margin:0;
  font-family:'Poppins',system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;
  background: linear-gradient(135deg,var(--bg1),var(--bg2));
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
